p {
	font-size: 18pt;
	text-align: justify;
	margin-right: 20px;
	margin-left: 20px;
}

.fundo {
	background: rgba(128,128,128,0.3); /*cor de fundo em cinza a = a transparencia do fundo*/
	width: 800px; /*Definindo a largura*/
	/*centralizando o conteúdo e colocando borda*/
	margin-left: auto;
	margin-right: auto;
	border: solid;

}